<form action="/login" method="post" id="formularioLogin">
    <div class="inputsAndButtonLogin">
        <h1>Iniciando sesión</h1>
        <label for="email">Email: <input type="text" name="email" id="email"></label>
        <label for="password">Contraseña: <input type="text" id="password" name="password"></label>
        <div class="buttonBox">
            <button type="submit">Iniciar sesión</button>
        </div>
        <div class="buttonBox">
            <a class="registerViewA" href="/register">Crear nuevo usuario</a>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;">
            <div style="margin-top: 10px; display: flex; justify-content: center; align-items: center; gap:8px; border: 1px solid white; width: 210px; height: 50px; background-color: black; border-radius: 15px;">
                <img style="width: 30px;" src="/assets/github.png" alt="imagen-logo-github"><a style="text-align: center; text-decoration: none; color: white; font-family: 'Kalam', cursive; padding: 10px;" href="/github"> Login con github</a>
            </div>
        </div>
    </div>
</form>