<form method="post" action="/register" class="formularioRegister">
    <div class="containerRegister">
        <h1>Registrarse</h1>
        <label for="name">Nombre: <input type="text" name="name" id="name"></label>
        <label for="surname">Apellido: <input type="text" name="surname" id="surname"></label>
        <label for="email">Email: <input type="text" id="email" name="email"></label>
        <label for="age">Edad: <input type="text" id="age" name="age"></label>
        <label for="password">Contraseña: <input type="text" id="password" name="password"></label>
        <div class="buttonBox">
            <button type="submit">Registrar usuario</button>
        </div>
        <div class="buttonBox">
            <a class="registerViewA" href="/login">Volver a login</a>
        </div>
    </div>
</form>